.container {
  width: 100%;
  max-width: 1080px;
  height: 100vh;
  margin: auto;
  padding: 40px 20px;
  background-image: url('../../assets/homeBackground.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color:  #121214;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 450px) {
    background-image: url('../../assets/homeBackgroundMobile.png');
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid var(--purple);
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    text-align: center;
    font-family: 'Roboto' sans-serif;

    h1 {
      margin-top: 1rem;
      font-size: 2rem;
    }

    p {
      font-size: 1.5rem;
      margin-top: 2rem;
      margin-bottom: 2.5rem;
    }

    span {
      color: var(--green);
    }

    button {
      background: none;
      border: 2px solid var(--green);
      border-radius: 4px;
      padding: 0.5rem;
      color: var(--white);
      font-weight: bold;
      margin-bottom: 1rem;
      font-size: 1rem;
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}